@import '../vars.scss';
@import '../input.scss';

.sync {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	> div {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;

		p {
			text-align: center;
			margin: 0;
		}

		input {
			@include input;
			padding: 0.25rem 0.5rem;
			height: fit-content;
		}
	}
}
