@import '../vars.scss';

.report {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	> div {
		width: min(640px, calc(100vw - 2rem));
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}
