@import '../vars.scss';
@import '../input.scss';

.longText {
	@include input;
	padding: 0.5rem;
	height: auto;

	resize: none;
}

.toggle {
	@include input;
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 0.5rem;

	cursor: pointer;

	&.disabled {
		filter: blur(1.5px);
	}
}

.staticText {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
