@import './vars.scss';

@mixin input {
	margin: 0;
	padding: 0rem 1rem;
	border-radius: 0.25rem;
	border: 1px solid $black;
	box-sizing: border-box;
	height: 60px;

	text-overflow: ellipsis;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	transition-property: filter, transform, background-color;
	transition-duration: 0.1s;

	&:disabled {
		filter: blur(1.5px);
	}

	&[type='button'] {
		background-color: $light;

		&:not(:disabled) {
			cursor: pointer;

			&:hover {
				transform: scale(1.02);
			}

			&:active {
				transform: scale(0.98);
			}
		}
	}
}
