@import './vars.scss';

.sync {
	width: min(640px, calc(100vw - 2rem));
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	p {
		text-align: center;
	}

	input {
		max-height: 2rem;
		border-radius: 0.25rem;
		border: 1px solid $black;
		box-sizing: border-box;
		background-color: $light;
	}
}
